<!-- wp:just-query-blocks/related-posts -->
<div class="wp-block-just-query-blocks-related-posts"><!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column -->
        <div class="wp-block-column"><!-- wp:just-query-blocks/post-template -->
            <div class="wp-block-just-query-blocks-post-template"><!-- wp:post-featured-image {"isLink":true} /-->

                <!-- wp:post-title {"level":5,"isLink":true} /-->

                <!-- wp:post-terms {"term":"category"} /-->
            </div>
            <!-- /wp:just-query-blocks/post-template -->
        </div>
        <!-- /wp:column -->

        <!-- wp:column -->
        <div class="wp-block-column"><!-- wp:just-query-blocks/post-template -->
            <div class="wp-block-just-query-blocks-post-template"><!-- wp:post-featured-image {"isLink":true} /-->

                <!-- wp:post-title {"level":5,"isLink":true} /-->

                <!-- wp:post-terms {"term":"category"} /-->
            </div>
            <!-- /wp:just-query-blocks/post-template -->
        </div>
        <!-- /wp:column -->

        <!-- wp:column -->
        <div class="wp-block-column"><!-- wp:just-query-blocks/post-template -->
            <div class="wp-block-just-query-blocks-post-template"><!-- wp:post-featured-image {"isLink":true} /-->

                <!-- wp:post-title {"level":5,"isLink":true} /-->

                <!-- wp:post-terms {"term":"category"} /-->
            </div>
            <!-- /wp:just-query-blocks/post-template -->
        </div>
        <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
</div>
<!-- /wp:just-query-blocks/related-posts -->